/UD5_Funciones/nbproject/private/
/UD5_Funciones/build/
/UD6_EstDinamicas/nbproject/private/
/UD6_EstDinamicas/build/
/POO_Youtube/nbproject/private/
/POO_Youtube/build/
/POO_Youtube2/nbproject/private/
/POO_Youtube2/build/
/POO_Youtube3/nbproject/private/
/POO_Youtube3/build/
/POO_Youtube4/nbproject/private/
/POO_Youtube4/build/
/POO_Youtube5/nbproject/private/
/POO_Youtube5/build/
/POO_ModificadoresAcceso/nbproject/private/
/POO_Encapsulamiento/nbproject/private/
/POO_Encapsulamiento/build/
/POO_MiembrosEstaticos/nbproject/private/
/POO_MiembrosEstaticos/build/
/POO_Ejercicios/nbproject/private/
/POO_Ejercicios/build/
/POO_ClaseRectangulo/nbproject/private/
/POO_Ejercicios_I/nbproject/private/
/POO_Ejercicios_I/build/
/POO_ClaseRectangulo/build/
/UD6_POO_Ej_II_Ej_1/nbproject/private/
/UD6_POO_Ej_II_Ej_1/build/
/UD6_POO_Ej_II/nbproject/private/
/UD6_POO_Ej_II/build/
/Entregable_UD7_Blibi-OTK/nbproject/private/
/Entregable_UD7_Blibi-OTK/build/
/Entregable_UD7_Blibi-OTK/dist/
/Entregable_07/nbproject/private/
/Entregable_07/build/
/POO_Libres/nbproject/private/
/POO_Libres/build/
/UD7_Agenda/nbproject/private/
/UD7_Agenda/build/
/Entregable_07_1`bis/nbproject/private/
/Entregable_07_1`bis/build/
/Repasos/nbproject/private/
/Repasos/build/
/Entregable_07_1`bis/dist/
/Repaso_Examen_Segunda/nbproject/private/
/Repaso_Examen_Segunda/build/
/Examen_Javier_Armesto/build/
/Solucion_Ex_Segunda/nbproject/private/
/Solucion_Ex_Segunda/build/
/Ensayos_01/nbproject/private/
/Clases_paso_a_paso/nbproject/private/
/Clases_paso_a_paso/build/
/UD8_Excepciones/nbproject/private/
/UD8_Excepciones/build/
/FlixNet/nbproject/private/
/FlixNet/build/
/Ejercicios_POO_II_bis/nbproject/private/
/Ejercicios_POO_II_bis/build/
/FlixNet_bis/nbproject/private/
/FlixNet/dist/
/FlixNet_B/nbproject/private/
/Netflix_A/nbproject/private/
/FlixNet_B/build/
/Entrega_FlixNet/nbproject/private/
/Ejercicios_ficheros_Casa/nbproject/private/
/Ejercicios_ficheros_Casa/build/
/Mini_Terminal_Linux/nbproject/private/
/Terminal_Linux/nbproject/private/
/Terminal_Linux/build/
/Terminal_Linux_B/nbproject/private/
/Terminal_Linux_B/build/
/Terminal_Linux_C/nbproject/private/
